Repository chainguard-dev/edu, pull requests merged in 2023-02, with the labels that each got.

#323 Vex
  content/open-source/sbom/what-is-openvex.md
  content/open-source/vex/what-is-openvex.md
Labels: documentation

#334 Adding oci artifacts draft
  content/open-source/oci/what-are-oci-artifacts.md
Labels: documentation

#349 Adding Node tutorial
  content/chainguard/chainguard-images/reference/node/getting-started-node.md
  layouts/shortcodes/blurb/distroless.html
  layouts/shortcodes/blurb/images.html
  layouts/shortcodes/blurb/wolfi.html
Labels: images

#356 add documentation on how to allow access to enforce for public endpoint that is access controlled
  content/chainguard/chainguard-enforce/chainguard-enforce-kubernetes/chainguard-enforce-discovery-onboarding.md
Labels: documentation, enhancement, enforce

#363 Fix enforce signing typos
  content/chainguard/chainguard-enforce/chainguard-enforce-signing/enforce-signing-setup.md
  content/chainguard/chainguard-enforce/chainguard-enforce-signing/getting-started-chainguard-enforce-signing.md
Labels: documentation, sig-aas

#361 Images Docs Update (Academy)
  content/chainguard/chainguard-images/faq.md
  content/chainguard/chainguard-images/overview.md
  content/chainguard/chainguard-images/reference/node/getting-started-node.md
  content/chainguard/chainguard-images/reference/php/getting-started-php.md
  content/open-source/apko/getting-started-with-apko.md
  content/open-source/apko/troubleshooting.md
  content/open-source/melange/troubleshooting.md
  layouts/shortcodes/blurb/images-advanced.html
Labels: images, q123

#381 Removing alpine-base from reference
  content/chainguard/chainguard-images/reference/alpine-base/_index.md
  content/chainguard/chainguard-images/reference/alpine-base/overview.md
  content/chainguard/chainguard-images/reference/alpine-base/provenance_info.md
Labels: images

#390 Automate network requirements domains and CIDR ranges updates
  .github/workflows/integrate-enforce-docs/action.yaml
  content/chainguard/chainguard-enforce/chainguard-enforce-kubernetes/network-requirements.md
  data/domains.yaml
  data/ips.yaml
  layouts/shortcodes/blurb/enforce-domains.html
  layouts/shortcodes/blurb/enforce-ips.html
Labels: documentation, platform development, automated

#400 Add network requirements section about image registry access
  content/chainguard/chainguard-enforce/chainguard-enforce-kubernetes/network-requirements.md
Labels: documentation, enforce

#402 Add policy-controller page under Sigstore and how to install guide
  content/open-source/sigstore/_index.md
  content/open-source/sigstore/policy-controller/_index.md
  content/open-source/sigstore/policy-controller/how-to-install-policy-controller.md
Labels: documentation, enhancement, open source, policy controller initiative

#408 Add policy controller guide on verifying Chainguard images
  content/open-source/sigstore/policy-controller/using-policy-controller-to-verify-signed-chainguard-images.md
  terminal-images/policy-controller/policy-controller-base/Dockerfile
  terminal-images/policy-controller/policy-controller-base/policy-controller.yaml
  terminal-images/policy-controller/policy-controller-base/supervisord.conf
Labels: documentation, terminal, policy controller initiative
