Repository chainguard-dev/edu, pull requests merged in 2023-06, with the labels that each got.

#755 minor change to Enforce user onboarding (as well as UI onboarding)
  content/chainguard/chainguard-enforce/chainguard-enforce-user-onboarding.md
  content/ui/group.md
Labels: documentation, enforce

#758 SLSA update
  content/open-source/slsa/what-is-slsa.md
Labels: open source

#782 Academy Glossary Update
  content/software-security/glossary.md
Labels: Q2 2023 Project

#791 Add note about r2 cloudflare hosts to images network requirements page
  content/chainguard/chainguard-images/network-requirements.md
Labels: documentation, images

#794 Add policy ui/cli management tabs back
  content/chainguard/chainguard-enforce/policies/chainguard-policies-cli.md
  content/chainguard/chainguard-enforce/policies/chainguard-policies-ui/index.md
Labels: documentation

#795 Fix card and footer link colours
  assets/scss/common/_custom.scss
  assets/scss/common/_theming.scss
  layouts/index.html
Labels: platform development

#773 adding first bulk user management guide (for GitHub)
  content/chainguard/chainguard-enforce/iam-groups/how-to-manage-iam-groups-in-chainguard-enforce.md
  content/chainguard/chainguard-enforce/iam-groups/rolebinding-terraform-gh/index.md
  content/chainguard/chainguard-enforce/iam-groups/rolebinding-terraform-gh/login-flow.png
Labels: documentation, Q2 2023 Project, enforce

#804 minor change to chainctl install guide Homebrew instructions
  content/chainguard/chainguard-enforce/how-to-install-chainctl.md
Labels: documentation, enforce

#806 Add rumble CVE data back to images overview and comparison pages
  config/staging/config.toml
  content/chainguard/chainguard-images/images-compared.md
  content/chainguard/chainguard-images/overview.md
  content/images/nginx-image.png
  content/images/php-image.png
  layouts/shortcodes/rumble.html
  package.json
Labels: platform development

#810 Add 'software vulnerability' to glossary
  content/software-security/glossary.md
Labels: enhancement

#812 adding gitlab assumed id doc
  content/chainguard/chainguard-enforce/iam-groups/identity-examples/enforce-bitbucket-identity.md
  content/chainguard/chainguard-enforce/iam-groups/identity-examples/enforce-buildkite-identity.md
  content/chainguard/chainguard-enforce/iam-groups/identity-examples/enforce-github-identity/index.md
  content/chainguard/chainguard-enforce/iam-groups/identity-examples/enforce-gitlab-identity.md
Labels: documentation, Q2 2023 Project, enforce

#807 tweaking getting started guide
  content/chainguard/chainguard-enforce/chainguard-enforce-user-onboarding.md
Labels: documentation, enhancement, enforce

#814 splicing overview draft into existing SBOM generation doc
  content/chainguard/chainguard-enforce/sboms/sboms-in-enforce/index.md
Labels: documentation, Q2 2023 Project, enforce
