Repository chainguard-dev/edu, pull requests merged in 2023-07, with the labels that each got.

#816 Add CVE intro article
  content/software-security/cves/_index.md
  content/software-security/cves/cve-intro.md
Labels: Q3 2023 Project

#818 Sm article updates
  content/open-source/slsa/_index.md
  content/software-security/cves/cve-intro.md
Labels: Q3 2023 Project, open source

#823 Add rumble-cve-data.yaml workflow to parse CVE data into CSVs
  .github/workflows/rumble-cve-data.yaml
Labels: platform development

#832 docs: update chainctl to account-associations
  content/chainguard/chainguard-enforce/cloud-account-associations/index.md
Labels: documentation, enforce

#833 docs: fix chainctl cluster install
  content/chainguard/chainguard-enforce/troubleshooting-tips.md
Labels: documentation, enforce

#837 CVEs - Why Care About Software Vulnerabilities? article
  content/software-security/cves/_index.md
  content/software-security/cves/cve-intro.md
  content/software-security/cves/cve-why-care.md
Labels: Q3 2023 Project

#843 updating existing SBOMs and Attestations doc due to product changes
  content/chainguard/chainguard-enforce/sboms-in-enforce/1-generated-sboms.png
  content/chainguard/chainguard-enforce/sboms-in-enforce/2-expanded-sbom.png
  content/chainguard/chainguard-enforce/sboms-in-enforce/3-openssl-search.png
  content/chainguard/chainguard-enforce/sboms-in-enforce/4-bash-search.png
  content/chainguard/chainguard-enforce/sboms-in-enforce/5-license-search.png
  content/chainguard/chainguard-enforce/sboms-in-enforce/index.md
  content/chainguard/chainguard-enforce/sboms/_index.md
  content/chainguard/chainguard-enforce/sboms/sboms-and-attestations.md
  content/open-source/sbom/sboms-and-attestations.md
  nginx.conf
Labels: documentation, enforce

#863 Infamous Software Vulnerabilities Article + New tags
  README.md
  content/software-security/cves/cve-intro.md
  content/software-security/cves/cve-why-care.md
  content/software-security/cves/infamous-cves.md
Labels: Q3 2023 Project

#866 updating curl commands for chainctl install
  content/chainguard/chainguard-enforce/chainguard-enforce-user-onboarding.md
  content/chainguard/chainguard-enforce/how-to-install-chainctl.md
  content/ui/install.md
Labels: documentation, enforce

#874 Upload comic - #1 - Fighting Vulnerabilities
  content/software-security/comics/_index.md
  content/software-security/comics/fighting-vulnerabilities/index.md
  content/software-security/comics/fighting-vulnerabilities/seacuring-software-ep1.png
Labels: enhancement, Q3 2023 Project

#861 adding MariaDB image getting started guide
  content/chainguard/chainguard-images/reference/mariadb/getting-started-mariadb/index.md
  content/chainguard/chainguard-images/reference/mariadb/getting-started-mariadb/mdb-demo-success-1.png
  content/chainguard/chainguard-images/reference/mariadb/getting-started-mariadb/mdb-demo-success-2.png
Labels: documentation, Q2 2023 Project, images

#875 Update footer, update nav titles
  config/_default/menus/menus.en.toml
  content/chainguard/chainguard-images/how-to-use-chainguard-images.md
  content/chainguard/chainguard-images/images-compared.md
  content/chainguard/chainguard-images/network-requirements.md
  content/chainguard/chainguard-images/overview.md
  content/chainguard/chainguard-images/reference/_index.md
  content/open-source/melange/troubleshooting.md
  content/open-source/melange/tutorials/getting-started-with-melange.md
  content/open-source/oci/what-are-oci-artifacts.md
  content/open-source/oci/what-is-the-oci.md
  content/open-source/sbom/getting-started-openvex-vexctl.md
  content/open-source/sbom/what-is-an-sbom.md
  content/open-source/sigstore/how-to-keyless-sign-a-container-with-sigstore/index.md
  content/open-source/wolfi/wolfi-with-dockerfiles.md
  content/software-security/selecting-a-base-image.md
  content/software-security/what-is-software-supply-chain-security.md
Labels: Q3 2023 Project
